body {
  font-family: Lato;
}
a {
  display: block;
  padding: 5px;
}

* {
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.wrapper > div {
  width: 25%;
  height: 25vw;
  border: 1px dotted;
}
